/.bundle

/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

/node_modules
/yarn-error.log

.byebug_history

/config/database.yml
/public/system
/spec/examples.txt
/public/uploads
/public/sitemap*
/coverage
.byebug_history
.idea/
.*.local
